<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>liste Film</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1 class="jumbotron">Liste de film</h1>
	<table class="table table-striped">	
		<th>titre</th>
			<tr th:each="film: ${filmModel.films}">
			<td th:text="${film.titre}" />
		</tr>
	</table>
	</div>
</body>
</html>